#Configuration info
[Project Info]
    Project = 19066

[OemCommonCapbility]
    ForceSensorFps = 0
    SupportQuarterBinning  = 1
    MaxSensitivityBoost = 6399
    isEnableMedasPower = TRUE
    EnableCameraClose = TRUE
    needSkipPreviewInBracket4 =TRUE

[CamThreadOptConfig]
    SupportModeList = 0x8001; 0x800B; 0x8021

[OPPackageName Group]
    SystemCamera = com.oppo.camera; com.oplus.camera
    EngineerMode = com.oplus.engineercamera

###LogicalCameraConfiguration begin
[LogicalCameraConfiguration]
    NumOfLogicalCamera = 7
    LogicalCamera[0] = SingleWideCameraConfiguration
    LogicalCamera[1] = SingleFrontCameraConfiguration
    LogicalCamera[2] = SingleUltraWideCameraConfiguration
    LogicalCamera[3] = SingleTeleCameraConfiguration
    LogicalCamera[4] = RTBUWWCameraConfiguration
    LogicalCamera[5] = RTBWTCameraConfiguration
    LogicalCamera[6] = SATCameraConfiguration

[SupportSkipFd]
    #VideoMode      captureMode         skip_count    bindcore   force_skip
    Mode[0]      =     0x800B;              3;        0;         0         #COMMON VIDEO + SAT
    Mode[1]      =     0x802C;              3;        0;         0         #Dual VIDEO
    Mode[2]      =     0x800C;              2;        0;         0         #Fast VIDEO
    Mode[3]      =     0x802B;              2;        0;         1         #Front EIS VIDEO

[SingleWideCameraConfiguration]
    logicalCameraId    = 0
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleWideCameraDeviceInfo
    primarySensorID    = 0
    cameraType         = 0

[AllSensorNum]
    SensorNum = 4;

[SingleWideCameraDeviceInfo]
    sensorId               = 0
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[SingleFrontCameraConfiguration]
    logicalCameraId    = 1
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleFrontCameraDeviceInfo
    primarySensorID    = 2
    cameraType         = 1

[SingleFrontCameraDeviceInfo]
    sensorId               = 2
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[SingleUltraWideCameraConfiguration]
    logicalCameraId    = 2
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleUltraWideCameraDeviceInfo
    primarySensorID    = 1
    cameraType         = 2

[SingleUltraWideCameraDeviceInfo]
    sensorId               = 1
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[SingleTeleCameraConfiguration]
    logicalCameraId    = 3
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleTeleCameraDeviceInfo
    primarySensorID    = 3
    cameraType         = 6

[SingleTeleCameraDeviceInfo]
    sensorId               = 3
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[RTBUWWCameraConfiguration]
    logicalCameraId    = 4
    logicalCameraType  = 1
    publicVisibility   = true
    numOfDevices       = 2
    deviceInfo[0]      = RTBUWCameraDeviceInfo
    deviceInfo[1]      = RTBWCameraDeviceInfo
    primarySensorID    = 0
    cameraType         = 8

[RTBUWCameraDeviceInfo]
    sensorId               = 1
    transitionZoomRatioMin = 1.0
    transitionZoomRatioMax = 2.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[RTBWCameraDeviceInfo]
    sensorId               = 0
    transitionZoomRatioMin = 2.0
    transitionZoomRatioMax = 8.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[RTBWTCameraConfiguration]
    logicalCameraId    = 5
    logicalCameraType  = 1
    publicVisibility   = true
    numOfDevices       = 2
    deviceInfo[0]      = RTBWCameraDeviceInfo
    deviceInfo[1]      = RTBTCameraDeviceInfo
    primarySensorID    = 3
    cameraType         = 11

[RTBTCameraDeviceInfo]
    sensorId               = 3
    transitionZoomRatioMin = 3.0
    transitionZoomRatioMax = 8.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[SATCameraConfiguration]
    logicalCameraId    = 6
    logicalCameraType  = 2
    publicVisibility   = true
    numOfDevices       = 3
    deviceInfo[0]      = SATUWCameraDeviceInfo
    deviceInfo[1]      = SATWCameraDeviceInfo
    deviceInfo[2]      = SATTCameraDeviceInfo
    primarySensorID    = 0
    cameraType         = 12

[SATUWCameraDeviceInfo]
    sensorId               = 1
    transitionZoomRatioMin = 0.6
    transitionZoomRatioMax = 1.0
    enableSmoothTransition = true
    alwaysOn               = false
    realtimeEngine         = 0

[SATWCameraDeviceInfo]
    sensorId               = 0
    transitionZoomRatioMin = 1.0
    transitionZoomRatioMax = 5.0
    enableSmoothTransition = true
    alwaysOn               = false
    realtimeEngine         = 0

[SATTCameraDeviceInfo]
    sensorId               = 3
    transitionZoomRatioMin = 5.0
    transitionZoomRatioMax = 60.0
    enableSmoothTransition = true
    alwaysOn               = false
    realtimeEngine         = 0

###LogicalCameraConfiguration end

[MultiCameraUsecase]
                 #stream index map  w  uw
    LogicalCameraAPPStreamMap[4]  = 1; 0
                 #stream index map  t  w
    LogicalCameraAPPStreamMap[5]  = 1; 0
    LogicalCameraRAWStreamSwap[5] = true
                 #stream index map  w  uw  t
    LogicalCameraAPPStreamMap[6]  = 1; 0;  2

[MultiCameraMFNRFusionSuperGraph]
    #ChiFeature2Type     HDR  DEMUX  SERIALIZER TWOHDR THREEHDR FormatConvertor  Yuv2Yuv  Y2YPostMFSR  MFSR   RawHDR   RealTimeSerializer
    Operation[0x8001]   = 5;    23;    24;
    Operation[0x8019]   = 5;    23;    24;
    Common              = 5;    23;    24;

[VideoOplusPreview]
    supportOplusView = 1

[Video4K60FPSNodeConfig]
    supportOplusView = false

[FlashConverge]
    AecContextEnable = false

[QcomEISConfig]
    #                         Original_Size_W  Original_Size_H  Resize_Size_W Resize_Size_H
    LDCInitChangeInputSize[0] =        1524;           860;            1529;           860

[NeedDeferCreateFeatureGraphManager]
    #operation mode     operation_mode     sensor_mask
    Mode[0]         =     0x8001;            0x0040       #COMMON SAT REAR
    Mode[1]         =     0x8019;            0x0040       #SUPERNIGHT SAT REAR

[UsecaseMatching]
    #logicalCameraId          UW TELE
    StabilizationCameraList =  2; 3
    DisablePreviewNode = 0x800b; 0x8028; 0x802b
    DisablePreviewNodeSensorMask = 0xffff; 0xffff; 0xffff
    SuperEISUseNormal = true

[ViewFinderMatching]
    #                captureMode  sensor_mask
    Mode[0]      =     0x8001;      0x0008       #NORMAL MODE TELE
    Mode[1]      =     0x8019;      0x0008       #SuperNight  TELE

[EISTypeMatching]
    #VideoEisMode    captureMode  sensor_mask    feature_mask(0x0:default 0x1:4k 0x80:non-4k)
    Mode[0]      =     0x800B;      0x004D;          0x0000          #COMMON VIDEO + SAT
    Mode[1]      =     0x800C;      0x004D;          0x0000          #FAST VIDEO
    Mode[2]      =     0x8021;      0x004D;          0x0000          #60FPS 4k VIDEO
    Mode[3]      =     0x802B;      0xFFFF;          0x0000          #FRONT EIS VIDEO
    Mode[4]      =     0x802C;      0x0001;          0x0000          #DualScene VIDEO
    Mode[5]      =     0x80A1;      0xFFFF;          0x0000          #HDR VIDEO
    Mode[6]      =     0x80A2;      0xFFFF;          0x0000          #NIHGT VIDEO
    Mode[7]      =     0x80A4;      0xFFFF;          0x0000          #MOVIE EIS
    Mode[8]      =     0x80A7;      0x0001;          0x0000          #EnhanceVideo REAR EIS

[Feature2GraphCameraIdMap]
    SingleCameraList = 0; 1; 2; 3
    MultiCameraList  = 4; 5; 6
    BokehCameraList  = 4; 5
    FusionCameraList = 6

[QuickSnapshotMatching]
    #logicalCameraId           FRONT
    QuickSnapshotCameraIdList = 1
    QCFAQuickShutterFront = true

[FDmanager]
    sensorzoomcrop = 2.0

[OIS]
    #The value of OisType should refer to the definition at camxoismanager.h
    OisType = 2
    enableOISOptimization = true
    isQuickVideoOISOff = true

[OisRelease]
    #The value of OisReleaseType is defined to solve Ois release slow
    OisReleaseType = 0;
    OisReleaseHighPriority = true

[Video4K60FPSConfig]
    #The value of ImageStableType: 0: EIS   1:OIS   2:Only_EISv2
    ImageStableType = 2
    OISCenterOn = 1

[SATNode]
    #CameraZoomInfo             UW+w     W      W+t     w+T      T
    SpecialZoomValueList  = 0.6;    1.0;    2.8;    5.0;    5.5;   60.0
    CameraActiveMapList   =      3;      2;      6;      6;      4
    MasterCameraIndexList =      0;      1;      1;      2;      2
    #CameraCalibBin
    CalibBin = 2; 2; 1
    enableAppFallbackCtrl = true

[SATVideoRecordConfig]
    MasterIdToSensorMask = 1

[SmoothZoom]
    enableSmoothZoom              = false
    enforceOpenWideZoomValueRight = 10.1

[InSensorZoom]
    LSCEnable = true

[AFCapbility]
   AIAFTrackingEnable = 1
   disableAFRoleSwitch = 1;
   forceMasterCameraId = 0;
   supportAIAFCameraId = 0; 2;

[fallbackDetectThreshs]
    #luxFallback                FallbackTriggerUpperThreshHold   FallbackTriggerLowerThreshHold   lowLightUpperThresh   lowLightLowerThresh
    luxThreshsForSATMode       =             490;                              460;                        430;                    420
    luxThreshsForSATNightMode  =             490;                              460;                        480;                    460
    luxThreshsForSATVideoMode  =             490;                              460;                        480;                    460
    luxThreshsForSATTripodMode =             490;                              460;                        480;                    460
    #afFallback                    DetectFactor   RecoverFactor   MoveSceneWideDetectFactor   MoveSceneWideRecoverFactor   MoveSceneTeleDetectFactor   MoveSceneTelekRecoverFactor
    afThreshsForSATMode        =       0.3;           0.5;                  1.0;                       1.5;                         0.3;                        0.5
    afThreshsForSATNightMode   =       0.3;           0.5;                  1.0;                       1.5;                         0.3;                        0.5
    afThreshsForSATVideoMode   =       0.3;           0.5;                  1.0;                       1.5;                         0.3;                        0.5

[OemCamxSettings]
    #Enable/Disable PD Library LCR
    disablePDLibLCR = 1
    NeedSkipWriteQSCMode = false

[MemGroupConfig]
    EnableIonRecycle = 0;    # IonRecycle 0:disable(def)  1:enable
    RecycleBuffSize  = 4;    # IonRecyclebuffer size(N * 10M)

[MultiCamFlashSetting]
    #disable flash for camera ID   UW   T
    disableFlashCamList          =  2 ; 3

[ActivityNameOfSpecialCase]
    IsSupportECS            = com.tencent.mm.plugin.voip.ui.VideoActivity; com.tencent.av.ui.AVActivity

[BokehConfigureInformation]
    RearBokehImgSizeList           = 4000; 3000; 2816; 2112
    RearSecondBokehImgSizeList     = 4000; 3000; 4000; 3000
    RWMCaliSize = 4096
    RWTCaliSize = 2578
    RWMDualCaliPath   = /mnt/vendor/persist/camera/mwStereoParams.bin
    RWTDualCaliPath   = /mnt/vendor/persist/camera/mtStereoParams.bin
    RWMDualCaliPathAS = /mnt/vendor/persist/camera/mwStereoParams_aftersale.bin
    RWTDualCaliPathAS = /mnt/vendor/persist/camera/mtStereoParams_aftersale.bin

[OemSupportedCustomImageSizes]
    #                width height
    ImageSizes[0]  = 8000; 3632
    ImageSizes[1]  = 6560; 4928
    ImageSizes[2]  = 6560; 3692
    ImageSizes[3]  = 6560; 2976
    ImageSizes[4]  = 6560; 2960
    ImageSizes[5]  = 6560; 3692
    ImageSizes[6]  = 4928; 4928
    ImageSizes[7]  = 4624; 3468
    ImageSizes[8]  = 4208; 1920
    ImageSizes[9]  = 4608; 3456
    ImageSizes[10] = 4624; 2600
    ImageSizes[11] = 4608; 2592
    ImageSizes[12] = 4608; 2080
    ImageSizes[13] =  960; 1080 #dual scene mode
    ImageSizes[14] =  640; 368 #dual scene mode
    ImageSizes[15] =  464; 464 #dual scene mode

[SupportedImageSizes]
#                    width  height
    ImageSizes[0]  =  9248;   6936
    ImageSizes[1]  =  8192;   6144
    ImageSizes[2]  =  8000;   6000
    ImageSizes[3]  =  8000;   3600
    ImageSizes[4]  =  7680;   4320
    ImageSizes[5]  =  6000;   6000
    ImageSizes[6]  =  4624;   3472
    ImageSizes[7]  =  4624;   3468
    ImageSizes[8]  =  4624;   2608
    ImageSizes[9]  =  4624;   2080
    ImageSizes[10] =  4624;   2070
    ImageSizes[11] =  4608;   3456
    ImageSizes[12] =  4608;   2256
    ImageSizes[13] =  4608;   2080
    ImageSizes[14] =  4608;   2592
    ImageSizes[15] =  4160;   3120
    ImageSizes[16] =  4160;   1890
    ImageSizes[17] =  4160;   1872
    ImageSizes[18] =  4000;   3000
    ImageSizes[19] =  4000;   2250
    ImageSizes[20] =  4000;   1818
    ImageSizes[21] =  4000;   1800
    ImageSizes[22] =  3840;   2160
    ImageSizes[23] =  3840;   1644
    ImageSizes[24] =  3456;   2592
    ImageSizes[25] =  3264;   2448
    ImageSizes[26] =  3264;   1836
    ImageSizes[27] =  3264;   1472
    ImageSizes[28] =  3200;   2400
    ImageSizes[29] =  3168;   1440
    ImageSizes[30] =  3168;   1358
    ImageSizes[31] =  3120;   3120
    ImageSizes[32] =  3000;   3000
    ImageSizes[33] =  2592;   1944
    ImageSizes[34] =  2448;   2448
    ImageSizes[35] =  2400;   1080
    ImageSizes[36] =  2400;   1028
    ImageSizes[37] =  2376;   1018
    ImageSizes[38] =  2592;   1168
    ImageSizes[39] =  2376;   1080
    ImageSizes[40] =  2304;   1728
    ImageSizes[41] =  2304;   1296
    ImageSizes[42] =  2304;   1046
    ImageSizes[43] =  2160;   1080
    ImageSizes[44] =  1944;   1944
    ImageSizes[45] =  1920;   1440
    ImageSizes[46] =  1920;   1080
    ImageSizes[47] =  1920;    864
    ImageSizes[48] =  1600;   1200
    ImageSizes[49] =  1600;    800
    ImageSizes[50] =  1600;    720
    ImageSizes[51] =  1584;    720
    ImageSizes[52] =  1440;   1080
    ImageSizes[53] =  1280;    960
    ImageSizes[54] =  1280;    768
    ImageSizes[55] =  1280;    720
    ImageSizes[56] =  1200;   1200
    ImageSizes[57] =  1200;    540
    ImageSizes[58] =  1188;    540
    ImageSizes[59] =  1080;   1080
    ImageSizes[60] =  1024;    768
    ImageSizes[61] =   800;    400
    ImageSizes[62] =   792;    360
    ImageSizes[63] =   720;    540
    ImageSizes[64] =   720;    480
    ImageSizes[65] =   640;    640
    ImageSizes[66] =   640;    480
    ImageSizes[67] =   352;    288
    ImageSizes[68] =   320;    240
    ImageSizes[69] =   176;    144

[OemCamSensorSettingMap]
    #operation mode     operation_mode     sensor_mask        feature_mask         index
    Mode[0]      =        0x8001;            0xFFFF;            0x0004;           1  #COMMON SAT
    Mode[1]      =        0x8001;            0x0008;            0x0004;           6  #COMMON SAT TELE
    Mode[2]      =        0x8001;            0x0001;            0x0004;           10 #COMMON SAT ICE
    Mode[3]      =        0x8007;            0xFFFF;            0x0000;           1  #Panorama
    Mode[4]      =        0x8009;            0x0001;            0x0000;           15 #Professional REAR
    Mode[5]      =        0x800B;            0xFFFF;            0x0000;           1  #COMMON VIDEO
    Mode[6]      =        0x800B;            0x0008;            0x000C;           6  #COMMON VIDEO SAT EIS TELE
    Mode[7]      =        0x800B;            0x0008;            0x000D;           6  #COMMON VIDEO 4K SAT EIS TELE
    Mode[8]      =        0x800B;            0xFFFF;            0x000B;           11 #COMMON VIDEO 3HDR EIS
    Mode[9]      =        0x800C;            0xFFFF;            0x000C;           1  #FastVideo EIS SAT
    Mode[10]     =        0x800C;            0x0008;            0x000C;           6  #FastVideo EIS SAT TELE
    Mode[11]     =        0x800E;            0xFFFF;            0x0000;           1  #Stiker
    Mode[12]     =        0x8010;            0xFFFF;            0x0000;           12 #HALF PORTRAIT
    Mode[13]     =        0x8011;            0xFFFF;            0x0000;           5  #FULL PORTRAIT
    Mode[14]     =        0x8019;            0x0002;            0x0000;           1  #SN FRONT
    Mode[15]     =        0x8019;            0xFFFF;            0x0004;           1  #SN SAT
    Mode[16]     =        0x8019;            0x0008;            0x0004;           6  #SN SAT TELE
    Mode[17]     =        0x8021;            0xFFFF;            0x0000;           4  #60FPS VIDEO
    Mode[18]     =        0x8028;            0xFFFF;            0x0000;           2  #SUPER EIS
    Mode[19]     =        0x802B;            0xFFFF;            0x0000;           3  #FRONT EIS
    Mode[20]     =        0x80A2;            0xFFFF;            0x0000;           1  #NightVideo EIS
    Mode[21]     =        0x80A3;            0x0008;            0x0000;           6  #MOVIE VIDEO TELE REAR
    Mode[22]     =        0x80A3;            0x0005;            0x0000;           1  #MOVIE VIDEO REAR_AUX
    Mode[23]     =        0x80A4;            0x0008;            0x0000;           6  #MOVIE VIDEO EIS TELE REAR
    Mode[24]     =        0x80A4;            0x0005;            0x0000;           1  #MOVIE VIDEO EIS REAR_AUX
    Mode[25]     =        0x80A5;            0xFFFF;            0x0000;           2  #FastMotionVideo EIS
    Mode[26]     =        0x8021;            0xFFFF;            0x0009;           17 #4k 60FPS VIDEO
    Mode[27]     =        0x80AA;            0x0005;            0x0000;           1  #COMMON Single Back

[ThirdAppCamSensorSettingMap]
    #                                   camera id  FPS    width    height  operation mode  setting index
    android.camera.cts[0]              =   -1;     -1;    -1;      -1;         -1;            1
    com.android.cts.verifier[0]        =   -1;     -1;    -1;      -1;         -1;            1
    com.ss.android.ugc.aweme[0]        =    0;     30;    -1;      -1;         -1;            3
    com.tencent.mm[0]                  =    1;     15;    -1;      -1;         -1;            4
    com.tencent.mobileqq[0]            =    1;     30;    -1;      -1;         -1;            4
    com.linkedin.android[0]            =    0;     -1;    -1;      -1;         -1;            1
    com.xvideostudio.videoeditor[0]    =    0;     -1;    -1;      -1;         -1;            1

[EngCamSensorSettingMap]
    #                  operation_mode   sensor_mask   feature_mask   index
    Mode[0]        =      0x0;            0xFFFF;        0x0000;       1;
    Mode[1]        =      0x0;            0xFFFF;        0x0010;       6;
    Mode[2]        =      0x0;            0x0008;        0x0000;       6;

[ZoomRange]
    custom.video.zoom.range = 0.6; 30
    custom.video.60fps.zoom.range = 0.6; 30

[EngineercameraConfig]
    # The size of this list should equal to m_numLogicalCameras
    engineercamera.jpeg.size.QCFA = 1; 0; 1; 1; 1; 1; 1;
    custom.raw.size.QCFA          = 1; 1; 1; 1; 1; 1; 1;

[OrmsConfig]
    # ThirdApp Orms Enable config
    UseOrmsForThirdApp = false
    UseOrmsSenceForThirdApp = true

[OemCamActuatorSettingMap]
    #operation mode     is_need_power      first_value        second_value      third_vaue  if is_need_power is 0 set other variables to 0
    Mode[0]      =     0;                 0;                 0;                0        #VCM lowerBound
    Mode[1]      =     1;                 1;                 0;                -1       #VCM upperBound
    Mode[2]      =     1;                 -1;                -1;               0        #BIVCM lowerBound
    Mode[3]      =     1;                 1;                 -1;               -1       #BIVCM upperBound

[OemPDAFCalib]
    isOemPDAFCalib = TRUE

[FlashConfig]
    torchDynamicCurrentEn = 1;

[OemZoomRatioThreshold]
    #Zoom Ratio             4x      2x     1x
    zoomRatioThreshold =  100.0;  100.0;  100.0

[OemFDAttrEnableMap]
    #                  operation_mode   sensor_mask
    Mode[0]        =      0x8001;            0xFFFF;
    Mode[1]        =      0x800E;            0xFFFF;
    Mode[2]        =      0x800B;            0xFFFF;
    Mode[3]        =      0x8019;            0x0002;
    Mode[4]        =      0x8011;            0x0002;

[ActuatorConfig]
    ParkLensDelayTime = 1000

[ArcsoftDCHalMatching]
    #                  operation_mode     sensor_mask  special_rect
    Mode[0]         =     0x80A3;            0x0004;        1     #Movie VIDEO REAR_AUX

[MinAdditionalNeededRequests]
    #                  operation_mode   MinAdditionalNeededRequests
    Mode[0]        =      0x80A2;                   5              #NIHGT VIDEO
    Mode[1]        =      0x800B;                   5              #COMMON VIDEO
    Mode[2]        =      0x8028;                   5              #SUPER EIS

[SuperEISMaxFaceLimitNum]
    MaxFaceLimitNum = 2;

[AIAFTouch2track]
    #                  operation_mode     sensor_mask
    Mode[0]         =     0x800B;            0x0001         #COMMON VIDEO REAR
    Mode[1]         =     0x8021;            0x0001         #60FPS VIDEO REAR
    Mode[2]         =     0x80A7;            0x0001         #EnhanceVideo VIDEO REAR
    Mode[3]         =     0x8028;            0x0001         #SUPER EIS REAR
    Mode[4]         =     0x80A2;            0x0001         #VIDEO NIGHT REAR

[PinFiles]
    so[0]=mnt/vendor/persist/camera/rear_camera_1_dual_led_calibration.bin;
    so[1]=odm/etc/camera/M_Attribute_AG_BMW_1.1.0.model.hardcode;
    so[2]=odm/lib64/libcvface_api.so;
    so[3]=vendor/lib64/camera/components/com.qti.node.swregistration.so;
    so[4]=vendor/lib64/camera/components/com.qti.stats.aec.so;
    so[5]=vendor/lib64/camera/components/com.qti.stats.afd.so;
    so[6]=vendor/lib64/camera/components/com.qti.stats.af.so;
    so[7]=vendor/lib64/camera/components/com.qti.stats.awb.so;
    so[8]=vendor/lib64/camera/components/com.qti.stats.hafoverride.so;
    so[9]=vendor/lib64/camera/components/com.qti.stats.haf.so;
    so[10]=vendor/lib64/camera/components/com.qti.stats.pdlib.so;
    so[11]=vendor/lib64/camera.device@3.2-impl.so;
    so[12]=vendor/lib64/camera.device@3.3-impl.so;
    so[13]=odm/lib64/camera/components/com.oplus.node.eispreview.so;
    so[14]=odm/lib64/camera/components/com.oplus.node.eisrecord.soo;
    so[15]=odm/lib64/camera/components/com.oplus.node.preview.so;
    so[16]=odm/lib64/camera/components/com.oplus.node.videoenhance.so;
    so[17]=vendor/lib64/camera/components/com.qti.hvx.addconstant.so;
    so[18]=vendor/lib64/camera/components/com.qti.hvx.binning.so;
    so[19]=vendor/lib64/camera/components/com.qti.node.customhwnode.so;
    so[20]=vendor/lib64/camera/components/com.qti.node.depth.so;
    so[21]=vendor/lib64/camera/components/com.qti.node.dummyrtb.so;
    so[22]=vendor/lib64/camera/components/com.qti.node.dummysat.so o;
    so[23]=vendor/lib64/camera/components/com.qti.node.eisv2.so;
    so[24]=vendor/lib64/camera/components/com.qti.node.eisv3.so;
    so[25]=vendor/lib64/camera/components/com.qti.node.fcv.so;
    so[26]=vendor/lib64/camera/components/com.qti.node.gpu.so;
    so[27]=vendor/lib64/camera/components/com.qti.node.memcpy.so;
    so[28]=odm/lib64/camera/components/com.qti.node.remosaic.so;
    so[29]=vendor/lib64/camera/components/com.qti.node.stich.so;
    so[30]=vendor/lib64/camera/components/com.qti.node.swec.so;
    so[31]=vendor/lib64/camera/components/com.qti.node.swfusion.so;
    so[32]=vendor/lib64/camera/components/com.qti.stats.aecwrapper.so;
    so[33]=vendor/lib64/camera/components/com.qti.stats.afwrapper.so;
    so[34]=vendor/lib64/camera/components/com.qti.stats.asd.so;
    so[35]=vendor/lib64/camera/components/com.qti.stats.awbwrapper.so;
    so[36]=vendor/lib64/camera/components/com.qti.stats.pdlibsony.so;
    so[37]=vendor/lib64/camera/components/com.qti.stats.pdlibwrapper.so;
    so[38]=vendor/lib64/libOpenCL.so;
    so[39]=odm/lib64/libVideoEnhance.so;
    so[40]=odm/lib64/libarc_eis_custom.so;
    so[41]=odm/lib64/libarc_eis.so
    so[42]=odm/lib64/libarcsoft_supervideostabilization.so
    so[43]=vendor/lib64/libcamxfacialfeatures.so
    so[44]=vendor/lib64/libcamxfdalgo.so
    so[45]=vendor/lib64/libcamxfdengine.so
    so[46]=vendor/lib64/libfastcvdsp_stub.so
    so[47]=vendor/lib64/libfastcvopt.so
    so[48]=odm/lib64/lib_rectify.so
    so[49]=vendor/lib64/libscveObjectTracker.so
    so[50]=vendor/lib64/libcamxexternalformatutils.so;
    so[51]=vendor/lib64/libcamxifestriping.so;
    so[52]=vendor/lib64/libcamxswprocessalgo.so;
    so[53]=vendor/lib64/libcamxtintlessalgo.so;
    so[54]=vendor/lib64/libcamerapostproc.so
    so[55]=vendor/lib64/libipebpsstriping.so;
    so[56]=vendor/lib64/egl/libGLESv2_adreno.so;
    so[57]=vendor/lib64/egl/libEGL_adreno.so
    so[58]=odm/lib64/camera/com.qti.sensor.imx586.so
    so[59]=odm/lib64/camera/com.qti.sensor.imx708.so
    so[60]=odm/lib64/camera/com.qti.sensor.imx616.so
    so[61]=odm/lib64/camera/com.qti.sensor.s5k3m5.so
    so[62]=odm/lib64/camera/com.qti.sensor.ov64b.so
    so[63]=vendor/lib64/com.qti.feature2.generic.so
    so[64]=vendor/lib64/com.qti.feature2.gs.so
    so[65]=vendor/lib64/libqti-perfd-client.so
    so[66]=vendor/lib64/libswregistrationalgo.so
[StabilityDebug]
    isNeedWatchTimeoutEnable = TRUE
    #Trigger SOF WatchDog Timeout Threshold       operation_mode  is_realtime_pipeline   threshold
    watchDogTimeoutThreshold[0]               =      0x8001;              1;                 2